.oneRecipeDiv {
    margin-bottom: 20px;
    margin-top: 10px;
    width: 500px;
    position: relative;
}

.oneRecipeDiv .edit {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}

.oneRecipeDiv .delete {
    position: absolute;
    right: 40px;
    top: 0px;
    cursor: pointer;
}

.oneRecipeDiv img {
    width: 180px;
}

.hideShowDiv {
    margin-top: 10px;
}

.hideShowDiv .header {
    display: flex;
    align-items: center;
    background-color: #a8d725;
    max-width: 600px;
    height: 40px;
    border-radius: 3px;
    color: #333;
    padding-left: 10px;
}

.hideShowDiv .header {
    cursor: pointer;
}

.hideShowDiv>p:nth-child(2) {
    margin-top: 10px;
    max-width: 600px;
}

hr {
    max-width: 600px;
}