#menuContainer {
    display: flex;
    margin-right: 30px;
}

#menuContainer .categoriesMenu {
    padding-left: 10px;
}

#menuContainer .foodCategoriesListItem {
    padding: 10px;
    cursor: pointer;
}

#menuContainer .foodCategoriesListItem.active {
    background-color: #333;
    color: #a8d725;
}