#menuContainer {
    display: flex;
    margin-right: 30px;
}

#menuContainer .categoriesMenu {
    min-width: 100px;
    text-align: center;
}

#menuContainer .foodCategoriesListItem {
    padding: 10px;
    cursor: pointer;
}

#menuContainer .foodCategoriesListItem.active {
    background-color: #a8d725;
    color: #333;
}

#menuContainer .cursorHand {
    cursor: pointer;
}

#menuContainer ul li {
    position: relative;
}

.categoriesMenu .edit {
    position: absolute;
    right: 10px;
    top: 0px;
    display: none;
}

.categoriesMenu li:hover .edit {
    display: block;
}